Django==5.0.9
eth-account==0.13.4
eth-utils==5.1.0
djangorestframework==3.15.2  # https://github.com/encode/django-rest-framework
djangorestframework-simplejwt==5.3.1 # https://github.com/jazzband/djangorestframework-simplejwt
django-allauth==65.0.2  # https://github.com/pennersr/django-allauth
drf-spectacular==0.27.2  # https://github.com/tfranzel/drf-spectacular